extends ../layout/index
block content


    form(action="/auth/logout", method="get") 
        button(type="submit" class="bg-blue-800 cursor-pointer rounded py-2 px-3 text-white font-bold") Log Out
    
    
    //- Write your HTML here
